/* connexion.component.css */
/* connexion.component.css */
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .form-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

label {
  margin-bottom: 0.5rem;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

button {
  cursor: pointer;
  background-color: #007bff;
  color: #ffffff;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  width: 100%;
}

button:hover {
  background-color: #0069d9;
}

button:disabled {
  background-color: #b3d7ff;
  cursor: not-allowed;
}
