<div class="modal">
    <div class="modal-content">
      <h2>Bienvenue à la boutique</h2>
      <h3>2TECH de Ha Phuong et Elodie</h3>
      <p>Notre boutique vous accuille dans l'avenir de high tech
        blalaalalalalalalalalalalalalalala
        smilesmielslslslslslslslslslslslslsl

      </p>
      <p>Adresse : Batiment .., 200 Av de la République-92000 NANTERRE</p>
      <p>Téléphone : 01 23 45 67 89</p>
      <p>Nos hoiraires d'ouverture :
        <br> Lundi : 10h - 20h
        <br> Mardi : 10h - 20h
        <br> Jeudi : 10h - 20h
        <br> Vendredi : 10h - 20h
        <br> Samedi : 12h - 17h
        </p>
        <h4>N'hésitez pas à nous contacter pour toutes vos question</h4>
        <p> Email : 2tech-m1miage@haphuong.elodie.fr
        </p> 
      <a href="/home"><button>Revenir à la page de produit</button></a>
    </div>
  </div>
  