
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">HighTech Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Ordinateurs
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/PcPortable">Pc Portables</a></li>
              <li><a class="dropdown-item" routerLink="/PcBureau">Pc de bureau</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/AccessoireOrdi">Accessoires</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Téléphones
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/SmartPhone">Smartphones</a></li>
              <li><a class="dropdown-item" routerLink="/telephoneFix">Téléphones Fixes</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/AccessoireTelFix">Accessoires</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Stockage
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/DisqueDur">Disque Dur</a></li>
              <li><a class="dropdown-item" routerLink="/USB">Clé USB</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/AccessoireStock">Accessoire</a></li>
            </ul>
          </li>
          <!--Mettre partie Ajouter article-->
          <a class="navbar-brand" routerLink="/AjouterAticleForm"> Gestion des articles</a>


      </ul>
  
      <div class="d-flex align-items-center justify-content-between text-center">
        <div class="ml-auto">
          <ng-container *ngIf="isLoggedIn$ | async">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
            <span class="ml-2" *ngIf="currentUser$ | async as currentUser">&nbsp;&nbsp;{{ currentUser.firstname }}</span>
          </ng-container>
        </div>
  
        &nbsp;&nbsp;
        
       <div *ngIf="!(isLoggedIn$ | async)">
          <a routerLink="/panier">Mon panier</a>
          &nbsp;
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path d="M0 0h1.232L3.938 9.664h9.59L16 4.788H4.437a.5.5 0 0 1-.485-.375L2.075.131A.5.5 0 0 0 1.641 0H0zm3.7 11.219a.5.5 0 0 0 .49.39h8.183a.5.5 0 0 0 .49-.61L12.637 5.5H4.225L3.7 11.219zm5.5-4.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
              <path d="M5 15a2 2 0 1 1 3.998.068L10.732 13H5v2z"/>
          </svg>
          &nbsp;
          <span *ngIf="getItems().length > 0" class="badge text-dark">( {{getItems().length}} ) - {{getTotal()}} €</span>
        </div>
        
        &nbsp;&nbsp;
  
        <div class="d-flex align-items-center justify-content-between text-center">
          <ng-container *ngIf="isLoggedIn$ | async">
            <a class="btn btn-danger mx-3" (click)="logout()">Logout</a>
          </ng-container>
          <ng-container *ngIf="!(isLoggedIn$ | async)">
            <a routerLink="/Connexion" class="btn btn-primary mx-3" role="button">Login</a>
          </ng-container>
        </div>
        
      </div>
    </div>
  </div>
  </nav>
  